.nav-item>a {
    color: gray;
}

.navbar {
    position: sticky;
}

.mainhead>p {
    color: rgb(57, 187, 57);
    font-size: 17px;
    font-weight: 300;
    margin-top: 70px;
    margin-left: 70px;
    font-family: 'Chivo', sans-serif;
}

.mainhead>h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    margin-left: 60px;
}

.mainhead>h2 {
    color: lightgray;
    font-size: 64px;
    font-weight: 500;
    margin-left: 60px;
}

.mainhead>h4 {
    color: lightgray;
    font-size: 17px;
    font-weight: 300;
    margin-left: 60px;
    font-family: 'Chivo', sans-serif;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 25px;
}

.wrap10>button {
    background-color: black;
    border: 1px solid rgb(57, 187, 57);
    font-size: 16px;
    font-weight: 400;
    color: gray;
    padding: 17px;
    margin-top: 40px;
    border-radius: 10px;
    transition: 0.3s;
    margin-left: 60px;
}

.wrap10>button:hover {
    background-color: rgb(57, 187, 57);
    color: bisque;
}

.aboutbox {
    margin-top: 130px;
}

.aboutbox>h3 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-left: 152px;
}

.mainpara {
    display: flex;
    justify-content: space-evenly;
    margin-right: 60px;
    margin-top: 40px;
}

.parabox>p {
    color: gray;
}

.parabox>h4 {
    color: gray;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
}

.parabox1>p {
    color: gray;
    margin-left: 152px;
}

.mainskillsbox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 240px;
}

.skillsbox>p {
    color: gray;
}

.itembox {
    margin-top: 30px;
}

.itembox>h6 {
    color: gray;
}

.container1 {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 18px;
    padding: 14px;
    text-align: center;
}

.container1:hover .overlay {
    opacity: 1;
}

.container1>img {
    border-radius: 10px;
}

.wrpbox {
    margin-top: 180px;
}

.wrpbox>h3 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-left: 152px;
}

.discbox {
    display: flex;
}

.borderbox {
    width: 20%;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    margin-left: 10px;
}

.workbox>h3 {
    color: aliceblue;
    margin-left: 152px;
    font-size: 22px;
    font-weight: 500;
}

.workbox {
    margin-top: 30px;
}

.workbox>p {
    color: gray;
    margin-left: 152px;
}

.subsititutebox {
    text-align: center;
}

.subsititutebox>p {
    color: gray;
}

.subbox>h3 {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.subbox1>h3 {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.subbox2>h3 {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.subbox1 {
    margin-top: 40px;
}

.subbox2 {
    margin-top: 40px;
}

.footer {
    margin-top: 200px;
}

.footer>h3 {
    text-align: center;
    color: rgb(57, 187, 57);

}

.footerpara>p {
    text-align: center;
    color: gray;
    margin-top: 20px;
}

.footerbox>h3 {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
    font-size: 42px;
    font-weight: 500;
}

.wrap1 {
    text-align: center;
}

.wrap1>button {
    background-color: black;
    border: 1px solid rgb(57, 187, 57);
    font-size: 18px;
    font-weight: 400;
    color: gray;
    padding: 17px;
    margin-top: 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.wrap1>button:hover {
    background-color: rgb(57, 187, 57);
    color: bisque;
}

.subfooter {
    text-align: center;
    margin-top: 250px;
}

.subfooter>p {
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

.wrp {
    text-align: center;
}

.portfolio>h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin-left: 50px;
    margin-right: 50px;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box>img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
    color: #fff;
}

.portfolio-layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
    color: #fff;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #fff;
}

.portfolio-layer a i {
    font-size: 1.5rem;
    color: #000;
}

@media (max-width: 767px) {
    .mainpara {
        flex-wrap: wrap;
    }

    .mainskillsbox {
        flex-wrap: wrap;
    }

    .discbox {
        flex-wrap: wrap;
    }

    .footerpara {
        margin-left: 30px;
        margin-right: 30px;
        gap: 2px;
    }

    .subsititutebox {
        margin-left: 30px;
        margin-right: 30px;
        gap: 2px;
    }

    .workbox>h3 {
        margin-right: 70px;
    }

    .wrpbox {
        margin-right: 10px;
    }

    .borderbox {
        margin-left: 40px;
    }

    .container1 {
        margin-right: 70px;
        margin-top: 40px;
    }

    .parabox {
        margin-left: 0px;
    }

    .itembox {
        margin-left: 40px;
    }

    .skillsbox {
        margin-left: 40px;
    }

    .box {
        margin-right: 120px;
    }

    .wrap {
        margin-right: 120px;
    }

    .mainhead>p {

        font-size: 14px;


        margin-left: 0px;
    }

    .mainhead>h1 {

        font-size: 40px;

        margin-left: 0px;
    }

    .mainhead>h2 {
        font-size: 40px;
        margin-left: 0px;
    }

    .mainhead>h4 {
        font-size: 14px;
        margin-left: 0px;
    }

    .wrap10>button {
        background-color: black;
        border: 1px solid rgb(57, 187, 57);
        font-size: 16px;
        font-weight: 400;
        color: gray;
        padding: 17px;
        margin-top: 40px;
        border-radius: 10px;
        transition: 0.3s;
        margin-left: 0px;
    }


    .headbox {
        text-align: center;
    }

    .container {
        text-align: center;
    }

    .portfolio-box>img {
        width: 100%;
    }

    .portfolio-box .portfolio-layer {
        width: 100%;
        height: 100%;
    }
}